/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Introduction styles */
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* scene-container styles */
  #scene-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
  }